# https://github.com/ScorpioBroker/ScorpioBroker/blob/development-quarkus/compose-files/docker-compose-java-aaio.yml

# version: '3'

networks:
  scorpio:

services:
  scorpio:
    image: scorpiobroker/all-in-one-runner:java-latest
    environment:
      DBHOST: scorpio-db
    ports:
      - "9090"
    depends_on:
      - scorpio-db
    networks:
      - scorpio

  scorpio-db:
    image: postgis/postgis
    ports:
      - "5432"
    environment:
      POSTGRES_USER: ngb
      POSTGRES_PASSWORD: ngb
      POSTGRES_DB: ngb
    networks:
      - scorpio
    volumes:
      - .docker/data/scorpio-db:/var/lib/postgresql/data

  scorpio-nginx:
    image: nginxinc/nginx-unprivileged:alpine
    networks:
      - scorpio
      - frontend
    depends_on:
      - scorpio
    ports:
      - "8080"
    environment:
      NGINX_PORT: 8080
      NGINX_MAX_BODY_SIZE: 50M
    volumes:
      - ./.docker/scorpio/nginx/templates:/etc/nginx/templates:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_DOMAIN}`)"
      # HTTPS config
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
